@font-face {
    font-family: 'ClassicaOne';
    src: local('Classica One'), local('ClassicaOne'), url('../fonts/classicaone.woff2') format('woff2'), url('../fonts/classicaone.woff') format('woff'), url('../fonts/classicaone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}